<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    //Descripcion de la pagina en los motores de busqueda
    <meta name"description" content="Soluciones tecnologicas a tu alcance" />
    //Posicionamiento de la pagina con la ayuda de los buscadores
    <meta name="robots" content="index,follow" />
    <title>Crea Solutions</title>
    //Responsive 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Ruta del css" />
  </head>

  <body>
    
  </body>
</html>
